<? if ($this->submitted) : ?>
<script type="text/javascript">
    $(document).ready(function() {
        $("#comment").val('');
        $("#comment").focus();
        CommentAdd('<?=$this->escape($this->commentId)?>');
        CommentCountersUpdate();
    });
</script>
<? else :
    echo $this->form;
    ?>
<script type="text/javascript">
    $('#submit').enable();
    $('form').submit(function() {
        $('input[type=submit]', this).attr('disabled', 'disabled');
        $('select', this).attr('disabled', 'disabled');
        $('input[type=text]', this).attr('readonly', 'readonly');
        $('textarea', this).attr('readonly', 'readonly');
    });

    $('#comment').focus();
;
</script>
<? endif ?>
