<input type="button" class="commentclose" value=""/>
<h3><?=$this->comments_title;?></h3>
<div id="DivCommentList"><img src="/img/loading.gif" alt="Loading..."/></div>
<div id="DivCommentAdd"></div>
<div id="DivCommentAddDummy"></div>
<script type="text/javascript">
    $("#DivCommentList").load('/comment/list/<?=$this->escape($this->MeetingId)?>/<?=$this->escape($this->ContentId)?>/<?=$this->escape($this->UserId)?>');
<? if ($this->escape($this->UserId)){?>
    $("#DivCommentAdd").load('/comment/add/<?=$this->escape($this->MeetingId)?>/<?=$this->escape($this->ContentId)?>/<?=$this->escape($this->UserId)?>');
<?}?>
</script>
<div id="commentMessage"></div>
