<?php if ($this->comments) {
    foreach ($this->comments as $comment) : ?>
    <div class="commentItem">
        <div id="<?=$comment['id'] ?>" class="deleteComment"></div>
        <p>&quot;<?=$comment['name'] ?>&quot; &lt;<?=$comment['email'] ?>&gt;
            <span class="date"><?=$this->escape($comment['date']) ?></span>:</p>

        <div class="commentContent">
            <p><?=$comment['content'] ?></p>
        </div>
    </div>
    <? endforeach; ?>
<?
} else {
    ?>
<p id="commentDummy"><?=$this->no_comments;?></p>
<?
}
?>