<?php if ($this->comments) {
    foreach ($this->comments as $comment) : ?>
    <div class="commentItem" id="comment<?=$this->escape($comment['id']) ?>">
        <p>&quot;<?=$this->escape($comment['name']) ?>&quot; &lt;<?=$this->escape($comment['email']) ?>&gt;
        <span class="date"><?=$this->escape($comment['date']) ?></span>:</p>
        <div class="commentContent">
            <p><?=$comment['content'] ?></p>
        </div>
    </div>
<? endforeach; ?>
<?
} else {
    ?>
<p id="commentDummy"><?=$this->no_comments;?></p>
<?
}
?>