<header>
    <img src="/img/icon_middle.png" alt="Meeting Tracker"/>

    <h1>Meeting Tracker for Android</h1>
</header>
<article>
    <p>Useful application for meeting planning and meeting notes tracking. With Meeting Tracker you will be able to
        create new meeting in a few clicks and you are immediately ready to create meeting notes. Catch everything
        important in your meeting. Take a pictures from your whiteboard with your camera, attach any images from your
        gallery, record reporter speech with your camera or microphone, add any text notes. Have no time to create
        meeting notes document? Meeting Tracker will do it for you in one click and will also send notification to all
        participants. Collaborate with your colleagues using meeting blog on Web.</p>
    <block>
        <img src="/img/qrcode.png" alt="QRCode for Meeting Tracker"/><br/>
        <p><a href="https://market.android.com/details?id=artezio.artmeeting">Install</a></p>
    </block>
    <p><strong>Features</strong></p>
    <ul>
        <li>planning single or recurrent meetings</li>
        <li>add participants from your Contacts</li>
        <li>meeting reminder</li>
        <li>tracking meeting minutes including text, photo, video and audio recording</li>
        <li>publishing meeting notes to the Web with upload media content to the Picasa, YouTube and SoundCloud</li>
        <li>create meeting notes document in pdf and send it as email attachment to all participants</li>
        <li>e-mail notification with meeting minutes blog link on web to other participants</li>
    </ul>
    <p><strong>Known issues</strong></p>
    <ul>
        <li>unable to upload big files (size depends on device memory)</li>
    </ul>

</article>
<footer>
    <p>&copy; 2011-2012 - Artezio Meeting Tracker</p>
</footer>