<header xmlns="http://www.w3.org/1999/html">
    <h1>Privacy Policy</h1>
</header>
<article>
    <h2>What information do we store?</h2>

    <h3>Published meeting minutes (server side):</h3>
    <ul>
        <li>Meeting minutes text, meeting data, attendees (their names and emails) are stored on the server until
            meeting expiration date.
        </li>
        <li>Multimedia files (video, photos and audio) are published under account you provided on YouTube, Picasa and
            Soundcloud.
        </li>
    </ul>

    <h2>What do we use your information for?</h2>

    <p>Contact information (name, e-mail) from your and participants accounts will only be used to send information
        about a meeting. After uploading of the meeting all participants receive notification by email.</p>

    <h2>How do we protect your information?</h2>

    <p>All information is transmitted via Secure Socket Layer (SSL) protocols.</p>


    <h2>Do we disclose any information to outside parties?</h2>

    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This
        does not include third parties like “YouTube”, “Picasa” and “Soundcloud”, to which we ship all the multimedia
        information from meetings.</p>

    <h2>Changes to our Privacy Policy</h2>

    <p>If we decide to change our privacy policy, we will post all changes on this page.</p>

    <h2>Contacting Us</h2>

    <p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>


    <ul>
        <ol><p><a href="http://www.artezio.com">http://www.artezio.com</a></p></ol>
        <ol><p><a href="mailto:meetingtracker@artezio.com">meetingtracker@artezio.com</a></p></ol>
        <ol><p>+79878041770</p></ol>
    </ul>

</article>
<footer>
    <p>&copy; 2011-2012 - Artezio Meeting Tracker</p>
</footer>