HTML,body {
color: #000;
background-color: #fff;
margin: 10px;
font: normal 12pt 'Arial';
}

.header {
    text-align: left;
}

p {
    display: inline-block;
    margin: 5px;
}
i {
    font: bold 12pt 'Arial';
    font-style: italic;
}

.participants {
    margin: 20px 0 0 0;
    text-align: left;
}

.participants ul {
    list-style:decimal;
    margin:5px 30px; padding:10px;
    font: normal 12pt 'Arial';
}

.participants h3 {
    font: bold 12pt 'Arial';
    margin: 5px 0 0 0;
    padding: 3px 3px 3px 5px;
    text-align: left;
}

.topic {
    margin: 5px 0 10px 0;
    clear: both;
    padding: 5px;
}

.topic h3 {
    margin: 0;
    padding:0;
    color: #333;
    font: bold 12pt 'Arial';
    display: inline-block;


}
.topic p {
    padding: 0;
    display: inline-block;
    font: normal 12pt 'Arial';
}


.records p i { padding:0;margin: 15px 0 0 0; clear: both; display: block;}
.records p { padding:0;margin: 15px 0 0 0; clear: both; display: block;}
.records div { display: table; clear: both; margin: 5px;}





/* comment message */

#commentMessage {
    position: static;
    padding:0; margin: 0;
    height: 0;
}
#commentMessage p {
    position: static;
    clear: both;
    margin: 2px;
    font: normal Verdana 9pt;
    padding: 2px 5px 2px 5px;
    background: #eee;
    border:  solid 1px #555;
}

#commentMessage input {
    font-size: 13pt;
}

/* comments styles */
.comments {
    min-width: 350px;
    border: solid 1px #555;
    z-index: 35;
    position: absolute;
    display: none;
    background: #fff;
    padding: 8px 8px 0px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

  -moz-box-shadow: -2px 1px 4px #000; /* FF3.5+ */
  -webkit-box-shadow: -2px 1px 4px #000; /* Saf3.0+, Chrome */
  box-shadow: -2px 1px 4px #000; /* Opera 10.5, IE9, Chrome 10+ */



}
.comments .date { font-size: 10pt; }
.comments textarea { border: solid 1px #555; resize: none; width:100%; margin: 0 0 0 0px; background-color: #ffffdd; margin-left: -3px;}
.comments form { margin: 0;}
.comments h3 { margin: 0 0 10px 0; cursor: pointer;}
.comments dd { margin: 0 0 3px 0; }
.comments dt label { font-size: 9px;}

.deleteComment{width:17px;height:26px;background-image:url('../img/b_fire.gif');background-position:top left;background-repeat:no-repeat;float:right;cursor: pointer;}
.deleteComment:hover {background-image:url('../img/b_fire_h.gif');}

.commentItem {
    border: solid 1px #ddd;
    padding: 4px;
    background: #eeeeee;
    margin: 3px 0 3px 0;
    word-wrap: break-word;
}

.commentItem p {
  font-size: 10pt;
  margin: 0; padding: 0;
}

.commentContent {
   padding: 4px;
}
.commentContent p {
    font: normal Arial 15pt;
}

.commentclose {
    display: inline-block;
    float: right;
    background-color: transparent;
    background-image:url('../img/b_close.png');
    border: 0; padding: 0;
    cursor: pointer;
    width: 23px;
    height: 23px;
    margin: 2px;
    opacity: 0.3;
}
.commentclose:hover {
    opacity: 1;
}

.comment {
    /* button */
    font: Verdana 13pt bold;
    padding-bottom: 5px;
    background-color: transparent;
    background-image:url('../img/b_comment.png');
    width: 26px;
    height: 25px;
    border: 0;
    cursor: pointer;
    z-index: 20;
    margin: 3px 0 0 0;
}


#commentDummy {
    font-size: 12pt;
    color: gray;
}


.zend_form input {
    font-size: 17px;
}



/* Content */
.videoYoutube { position: relative; width: 350px;}
.videoYoutube object { width: 320px; float: left; margin-right: 3px;}
.videoYoutube .comment { float: left; }


.audioCloud { position: relative; width: 280px;}
.audioCloud object { width: 250px; float: left; margin-right: 3px; }
.audioCloud .comment { float:left; }


.image {position: relative;width: 315px;}
.image img {width: 280px; float: left;  margin-right: 3px;}
.image .comment { float:left; }


.picasa {position: relative;width: 315px;}
.picasa img {width: 280px; float: left;  margin-right: 3px;}
.picasa .comment {float:left;}
.picasa p {
    padding: 0;
    display: inline-block;
    font: normal 12pt 'Arial';
}

/* Login page */
.login {
    font: normal 15pt Arial;
    margin: 0 auto;
    display: table;
}

.login dl {
    width: 800px;
    display: table;
}
.login dt {
    clear: right;
    margin:0; padding:20pt 0;
    display: inline-table;
    float: left;
    font: normal 25pt Arial;
}
.login dd {
    float: right;
    display: inline-block;
    margin: 0;
}

.login input {
    margin: 8pt;
    padding: 3pt;
    font: normal 38pt Arial;
    border-radius: 8pt;
    border: solid;
}

.login input[type=password] {

}
.login #enter-element {
    maring: 0 auto;
    display: table;
    float: right;
}

.login #enter {
    cursor: pointer;
    padding: 5pt 10pt;
    margin: 0 20pt 0 0;
}

.login #enter:active {
    background: #000;
    color: #fff;
}

.login ul {
    margin:0; padding: 4pt 8pt;
    display: table;
}

.login ul li {
    list-style: none;
    color: red;
    margin:0; padding:0;
}

/* Home page */
header, article, footer {
    max-width: 820px;
}

header {
    padding: 10pt 20pt 0 0;
    margin: 0 auto;
}

header h1 {
    font-size: 25pt;
    line-height: 55pt;
    margin: 0;
}

header img {
    float: left;
    margin: 0 10pt;
    width: 72px;
    height: 72px;
}

article {
    padding: 10pt 20pt;
    margin: 0 auto;
}

article p {
    text-indent: 5pt;
    text-align: justify;
    padding: 0;
    margin: 10pt 0 0 0;
}

article p strong {
    font-size: 16pt;
    clear: both;
}

article ul {
    margin: 4pt 0 0 0;
}

article li {
    list-style: square;
}

article block {
    text-align: center;
    float: right;
    display: table;
    margin: 0 10pt;
    padding: 10pt;
}

article block img {
    margin: 0 auto;
    padding: 3pt;
    width: 130px;
    height: 130px;
}

article block p {
    line-height: 10pt;
    background: #ddd;
    padding: 8pt 15pt;
    margin: 10pt 0;
    border-radius: 8pt;
    text-indent: 0;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 49%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(49%, #2989d8), color-stop(100%, #7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 49%, #7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%, #2989d8 49%, #7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 49%, #7db9e8 100%); /* IE10+ */
    background: linear-gradient(top, #1e5799 0%, #2989d8 49%, #7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1e5799', endColorstr = '#7db9e8', GradientType = 0); /* IE6-9 */

}

article block a {
    text-align: center;
    color: #fff;
    font: normal 14pt Arial;
    text-decoration: none;

}

footer {
    padding: 10pt 20pt;
    margin: 0 auto;
    font: italic 10pt Arial;
    color: gray;
}