<?php $this->headTitle('Login to meeting'); ?>
<div class="login">
    <h1>Get access to meeting</h1>
    <?php foreach ($this->errorMessages as $error) : ?>
    <ul>
        <li><?= $error ?></li>
    </ul>
    <?php endforeach; ?>
    <?php echo $this->form; ?>
</div>