<a name="top"></a>
<div class="header">
    <p><strong><?= $this->escape($this->MeetingTitleName); ?>:</strong> <?= $this->escape($this->MeetingTitle); ?></p><br/>
    <p><strong><?=$this->meeting_begins_at?>:</strong> <?= $this->escape($this->MeetingStartTime); ?></p>

    <div class="participants">
        <strong><?=$this->participants?>:</strong>
        <ul>
            <?= $this->placeholder('contacts'); ?>
        </ul>
    </div>
    <? //$this->escape($this->MeetingOwnerId); ?>
    <p><strong><?= $this->escape($this->MeetingLog); ?></strong></p>
</div>

<div class="topics">
    <?= $this->placeholder('topics'); ?>
</div>
<div class="comments">
    <div id="DivCommentContainer"></div>
</div>

<script type="text/javascript">
    $.ajaxSetup({
        cache: false
    });


    function CommentAdd(id) {
        $("#commentDummy").slideUp('fast');
        $.get('/comment/get/' + id, function(data) {

            if ($('#' + id).length) {          //if found, unhide
                $('#' + id).parent().slideDown();
                $('#' + id).parent().css('opacity', 1);
            } else {                            //if not found, append
                var newComment = $(data).hide();
                $('#DivCommentList').append(newComment);
                newComment.slideDown();
            }

            $("#commentDummy").hide();


        });
        return true;
    }

    function CommentDummyCheck() {
        var existComments = $('#DivCommentList').find('.commentItem:visible').html();
        var divDummy = $(document).find('#commentDummy').html();
        if (existComments == null) {
            if (divDummy == null) {
                var dummyComment = $('<p id="commentDummy"><?=$this->no_comments?>.</div>').hide();
                $('#DivCommentList').append(dummyComment);
                dummyComment.slideDown();
            } else {
                $('#commentDummy').slideDown();
            }
        }
        return true;
    }

    function CommentCountersUpdate() {
        $.getJSON('/comment/count/<?= $this->escape($this->MeetingId); ?>', function(data) {
            $.each(data, function(key, val) {
                $('#' + val.contentId).val(val.counter);
            })
        });
    }


    $(document).keyup(function(e) {
        if (e.keyCode == 27) {
            $('.commentclose').click();
        }   // on button esc close comments window
    });


    $('.commentclose').live('click', function() {
        $('.comments').fadeOut('fast');
    });


    $('#comment').live('keypress', function(e) {
        if (((e.keyCode == 13) || (e.keyCode == 10)) && (e.ctrlKey == true)) {
            $("#CommentForm").submit();
        }
    });
    function validate() {
        var str = $("#comment").val();
        str = jQuery.trim(str);

        if (!str) {
            show_message('<?=$this->message_cannot_be_empty?>', true);
            return false;
        }

        return true;
    }


    //$('.comments').draggable({containment: 'parent',cancel: 'textarea, div.commentItem, input',refreshPositions: true});
    $('.comment').click(function() {
        $('#DivCommentContainer').html('<img src="/img/loading.gif" alt="<?=$this->loading?>..."/>');
        var contentId = $(this).attr('id');
        var pos = $(this).offset();

/*
        $(".comments").css({
            top: pos.top,
            left: pos.left
        }).fadeIn('fast');
*/

        $(".comments").css({
            top: pos.top-5,
            left: 15
        }).fadeIn('fast');

        $('#DivCommentContainer').load('/comment/dashboard/<?= $this->escape($this->MeetingId); ?>/' + contentId + '/<?=$this->escape($this->CurrentUserId)?>');

    });


    $('.deleteComment').live('click', function() {

        var commentContainer = $(this).parent();
        var id = $(this).attr("id");
        var string = 'id=' + id + '&userid=<?=$this->UserId?>';
        commentContainer.css('opacity', '0.3');
        var message = jQuery.trim($(this).next().next().text());

        $.ajax({
            type: "POST",
            url: "/comment/delete/" + id + "/<?=$this->UserId?>",
            data: string,
            cache: false,
            success: function() {

                commentContainer.slideUp('fast', function() {
                    $(this).hide(); //remove?
                    CommentDummyCheck();
                    show_message('<?=$this->comment?> &quot;<em>'+message+'</em>&quot; <?=$this->has_been_deleted?>. <input type="button" value="<?=$this->restore?>" class="restoreComment" id="restore' + id + '"/>', 0, true);

                });
                $(".comment").val('');
                CommentCountersUpdate();


            }
        });


        return false;
    });


    $('.restoreComment').live('click', function() {

        var messageContainer = $(this).parent();
        var id = $(this).attr("id");
        id = id.replace("restore", "");

        var string = 'id=' + id + '&userid=<?=$this->UserId?>';
        messageContainer.css('opacity', '0.3');

        $.ajax({
            type: "POST",
            url: "/comment/restore/" + id + "/<?=$this->UserId?>",
            data: string,
            cache: false,
            success: function() {
                messageContainer.slideUp('fast');
                CommentCountersUpdate();
                CommentAdd(id);
            }
        });


        return false;
    });

    function show_message(message, autoHide, buttonClose) {

        var button = '';
        if (buttonClose) {
            var button = '<input type="button" class="messageClose" value="<?=$this->close?>">';
        }
        var messageContent = '<p>' + message + button + '</p>';
        var newMessage = $(messageContent).hide();

        $('#commentMessage').prepend(newMessage);
        newMessage.slideDown('fast');


        if (autoHide) {
            newMessage.delay(3000).fadeOut('fast');
        }

        return true;
    }
    $('.messageClose').live('click', function() {
        $(this).parent().fadeOut('fast');

    });


    CommentCountersUpdate();
</script>
