<div class="header">
    <strong><?= $this->escape($this->MeetingTitleName); ?>:</strong> <span><?= $this->escape($this->MeetingTitle); ?></span><br/>
    <strong><?=$this->meeting_begins_at?>:</strong> <span><?= $this->escape($this->MeetingStartTime); ?></span>

    <div class="participants">
        <strong><?=$this->participants?>:</strong>
        <ul>
            <?= $this->placeholder('contacts'); ?>
        </ul>
    </div>
    <? //$this->escape($this->MeetingOwnerId); ?>
    <strong><?= $this->escape($this->MeetingLog); ?></strong>
</div>

<div class="topics">
    <?= $this->placeholder('topics'); ?>
</div>