<br/>
<i><?= $this->view->translate('Audio');?>:</i>
<a href="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<?=$this->record['content'];?>">https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<?=$this->record['content'];?></a>
