<p><i><?=$this->view->translate('Audio')?>:</i></p>
<div class="audioCloud">
    <object height="81" width="100%">
    <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<?=$this->record['content'];?>"/>
    <param name="allowscriptaccess" value="always"/>
    <embed wmode="opaque" allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<?=$this->record['content'];?>" type="application/x-shockwave-flash" width="100%"></embed>
    <param name="wmode" value="opaque"/></object>
<input type="button" class="comment" id="<?= $this->record['id'];?>" value=""/>
</div>
