<div class="image">
    <p><i><?=$this->view->translate('Image')?>:</i></p>
    <a href="<?= $this->record['content'];?>" class="highslide" onclick="return hs.expand(this)"><img
    src="<?= $this->record['content'];?>" alt="Image" title="Click to enlarge"/></a>
    <input type="button" class="comment" id="<?= $this->record['id'];?>" value=""/></div>
