<br/>
<!-- default video -->
<i><?=$this->view->translate('Video');?>:</i> <p><a href="http://www.youtube.com/v/<?= $this->record['content'];?>">http://www.youtube.com/v/<?= $this->record['content'];?></a></p>

