<i><?=$this->view->translate('Video');?>:</i>
<div class="videoYoutube">
    <object width="320" height="240">
        <param name="wmode" value="opaque"/>
        <param name="movie" value="http://www.youtube.com/v/<?= $this->record['content'];?>?version=3&amp;rel=0"/>
        <param name="allowFullScreen" value="true"/>
        <param name="allowScriptAccess" value="always"/>
        <embed wmode="opaque" src="http://www.youtube.com/v/<?= $this->record['content'];?>?version=3&amp;rel=0" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="320" height="240">
    </object>
    <input type="button" class="comment" id="<?= $this->record['id'];?>" value=""/>
</div>
