<div class="topic">
<strong><?= $this->view->translate('Topic') ?>:</strong> <span><?=$this->data['title'];?></span>
<div class="records">

<?php foreach ($this->records as $record) : ?>
<!-- begin of content: <?= $record['type']; ?> -->
<?= $this->partial('content/record-puretext-'.$record['type'].'-'.$record['provider'].'.phtml',array('record'=>$record,'view'=>$this->view));?>
<!-- end of content: <?= $record['type']; ?> -->
<? endforeach; ?>

</div>
</div>

