<div class="topic">
<p><strong><?= $this->view->translate('Topic'); ?>:</strong> <?=$this->data['title'];?></p>
<div class="records">

<?php foreach ($this->records as $record) : ?>
<!-- begin of content: <?= $record['type']; ?> -->
<?= $this->partial('content/record-'.$record['type'].'-'.$record['provider'].'.phtml',array('record'=>$record,'view'=>$this->view));?>
<!-- end of content: <?= $record['type']; ?> -->

<? endforeach; ?>
</div>
<?=$this->view->comments_to_this_topic?>: <input type="button" class="comment" id="<?= $this->data['id'];?>" value=""/>
</div>
    <p><a href="#top"><?=$this->view->back_to_the_top?></a></p>

