<?php
echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <?php
    echo $this->headMeta();
    echo $this->headTitle();
    echo $this->jQuery();
    $this->headScript()->appendFile('/highslide/highslide.js');
    $this->headScript()->appendFile('/highslide/highslide-with-html.js');
    $this->headLink()->appendStylesheet('/css/style.css');
    $this->headLink()->appendStylesheet('/highslide/highslide.css');
    $this->headLink()->appendStylesheet('/highslide/highslide.css');
    $this->headLink(array('rel' => 'icon',
            'type' => 'image/png',
            'href' => '/img/icon32.png'),
        'PREPEND');
    echo $this->headScript();
    echo $this->headLink();
    ?>
</head>
<body>
<div id="content">
    <?php echo $this->layout()->content; ?>
</div>
</body>
</html>
